<% if @donation.errors.present?%>
  <ul>
        <% @donation.errors.each do |error, message|%>
          <li> <%= "#{error.capitalize}  #{message}" %></li>
        <% end %>
  </ul>
<% end%>

<%= form_for ([@product, @product.donations.build] ) do |f| %>  

	<%= f.label :unit,"單位:" %>
	<%= f.text_field :unit %>
	<%= f.label :address,"寄送地址:" %>
	<%= f.text_field :address %>
	
	<%= f.submit "送出" ,class:"btn btn-default"%> 

<% end %> 