<h1>謝謝您的愛心.....，您的付款資訊如下:</h1>

<div class="container">
	用戶名稱：<%= @donation.user.name %> <br>
	您購買的單位:<%= @donation.unit %> <br>

	您的號碼：<%= @donation.lottery_number %> <br>
	目前已開出號碼：<%= @product.lottery_old_number %> <br>


</div>

<%= link_to '回到產品頁面', products_path ,class:"btn btn-default"%>

