
 
      <div class="container text-center">
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider) do%>
              <%= image_tag "fb2.png" %>
            <% end %>
          <% end -%>
        <% end -%>

        <p>或使用電子信箱註冊</p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group text-center">
            <%= f.email_field :email,  placeholder:"電子信箱" ,autofocus: true,class:"form-length"  %>
          </div>

          <div class="form-group text-center">
            <% if @minimum_password_length %>
            <em>密碼最短6個字元</em> <br>
            <% end %>
            <%= f.password_field :password, placeholder:"密碼" , autocomplete: "off" ,class:"form-length" %>
          </div>

          <div class="form-group text-center">
            <%= f.password_field :password_confirmation, placeholder:"請再輸入ㄧ次密碼確認" , autocomplete: "off" ,class:"form-length" %>
          </div>


          <div class="actions">
            <%= f.submit "註冊",class:"btn-default" %>
          </div>
        <% end %>
      </div>
 
<style>
  .form-length{
    width:320px;
    height:52px;

  }
  a {
    margin: 0px;
  }
  .container{
    margin-top: 10px;
  }
  p{
    margin-top: 10px;
    color: rgba(200,200,200,1);
  }
  .btn-default{
    box-sizing: border-box;
    width:320px;
    height:52px;
    padding:8px;
  }
  .btn-default:hover{
    background-color: #fa7f7f;
    color: #fff;
  }
  

</style>


