<div id="comment-<%= c.id %>">
  <br>
  <i class="fa fa-user-o" aria-hidden="true">&nbsp;<%= c.commenter %></i>&nbsp;&nbsp;<%= time_ago_in_words(c.created_at)%><strong>前</strong>
 	<p><%= c.comment_body %> </p>
 	<div id="image">
		<% if c.image_file_name %>
	 		<%= link_to image_tag(c.image.url(:medium)), c.image.url %>
		<% end %>

	</div>
		<% if c.commenter == current_user.name ||current_user.role == "admin" %>
			<%= link_to 'Destroy Comment', story_comment_path(@story,c) ,method: :delete,method: :delete, data:{ confirm: "確定要刪除留言嗎?"},:remote => true %>
		<% end %>
</div>