<div class="container text-center">
	<h1>故事資訊</h1>
</div>
<div class="container text-center">
	<%= link_to "刪除", admin_story_path(@story) ,method: :delete, data:{ confirm: "Are you sure?"} ,class:"btn btn-default"%>
	<%= link_to "編輯", edit_admin_story_path(@story) ,class:"btn btn-default"%>
</div>
<div class="container">
	<p>標題：<%= @story.title %></p>
	<% if @story.tags %>
		<p>標籤：<% @story.tags.each do|t| %> 
				<%= t.name %> 
			<%end%>	
		</p>
	<% end %>
	
	<p>時間：<%= @story.story_time %></p>
	<p>地點：<%= @story.location %></p>
	<p>youtube：<%= @story.try(:youtube_link) %></p>
	<p>image：<%= image_tag @story.try(:image) %></p>
	<% @story.photofiles.each do|p| %>
	  <%= link_to image_tag(p.image.url(:medium))  %><br>
    <% end %>
	<p>內容：<%= @story.content %></p>
	<p>是否公開：<%= @story.is_public %></p>
	<p>是否置頂：<%= @story.priority %></p>
</div>


<script type="text/javascript">
 $("document").ready(function(){
	$("input:checkbox").click(function(){
    if ($("input:checkbox:checked").length > 3){
      alert('限制選取3項');}
	});

});