<div class="container text-center">
		<div class="container">
		<%= link_to("我的故事紀錄", account_stories_path ,class:"btn-2nd") %>&nbsp;
		<%= link_to '上傳故事', new_account_story_path,class:"btn-2nd" %>&nbsp;
		<%= link_to '我的專案記錄',new_account_story_path,class:"btn-2nd" %>&nbsp;
		<%= link_to '發起專案',new_account_story_path, class:"btn-2nd" %> &nbsp;
		<%= link_to("我的按讚紀錄",liked_account_stories_path ,class:"btn-2nd") %> &nbsp;
    <%= link_to("我的捐贈記錄", account_project_donations_path, class:"btn-2nd") %> 
    </div>
</div>

<div class="container text-center">
  <h4><%= @user.name%> <i class="fa fa-heart " aria-hidden="true"></i> 的故事</h4>
</div>
<div class="container text-center">
<% @likes.each do |like| %>
	<div class="col-md-6">
				

		<h3><%=truncate(like.story.title, length: 20)%></strong></h3>	
		
		<br>
		<%= sanitize(like.story.content, :tags=>[]).truncate(200, :separator => " ").html_safe	 %>	<br><br>
		<%= link_to "查看",story_path(like.story),class:"btn-2nd" %>	<br><br>	

	</div>
<% end %>			
</div>