<div class="container text-center">
	<h1><%=truncate(@story.title, length: 20)%> </h1>
	<h6>作者: <%= @story.try(:author)%></h6>
	<% if @story.tags %>
	  <h5>標籤：<% @story.tags.each do|t| %> 
	    <i class="fa fa-tag " aria-hidden="true"><%= t.name %></i>
			 <%end%>	
	  </h5>
	<% end %>
	<hr class="short">
</div>
<div class="container text-center">
	<%= link_to "刪除", account_story_path(@story) ,method: :delete, data:{ confirm: "Are you sure?"} ,class: "btn btn-default"%>
	<%= link_to "編輯", edit_account_story_path(@story) ,class:"btn btn-default"%>
	<%= link_to "返回故事記錄", account_stories_path ,class:"btn btn-default"%>
</div>
<section>
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	    	<h2>細節</h2>  
	    	<ul>   
          <p><i class="fa fa-asterisk" aria-hidden="true">時間：</i><%= @story.story_time %> </p>
         	<p><i class="fa fa-asterisk" aria-hidden="true">地點：</i><%= @story.location %> </p>
          <p><i class="fa fa-asterisk" aria-hidden="true">是否公開：</i><%= @story.is_public %> </p>
	        <p><i class="fa fa-asterisk" aria-hidden="true">是否置頂：</i> <%= @story.priority %> </p>
				</ul> 
	    </div>
			<% if @story.youtube_link.present? %>
	    	<iframe id="ytplayer" type="text/html" width="640" height="360" src= "<%= @link %>" frameborder="0"></iframe>
      <% end %>
      <div class="col-sm-12">
        <h2>故事照片集</h2>
        <% @story.photofiles.each do|p| %>
	        <%= link_to image_tag(p.image.url(:medium)) ,class:"img-responsive" %>
        <% end %>
      </div>
			
	    <div class="col-sm-12">
	      
	      <div style="height:100px;">
	        <p>
	          <h2>內容:</h2><%= sanitize(@story.content) %>
	        </p>
	      </div>
	      <div style="height:100px;">
	        <p>
	          <h2>反思:</h2><%= sanitize(@story.reflection) %>
	        </p>
	      </div>
	    </div>	    
	  </div>
	</div>
</section>


<script type="text/javascript">
 $("document").ready(function(){
	$("input:checkbox").click(function(){
    if ($("input:checkbox:checked").length > 3){
      alert('限制選取3項');}
	});

});

  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '360',
      width: '640',
      videoId: 'M7lc1UVf-VE'
    });
  }


</script>