<div class="container text-center">

  <h1><%=truncate(@story.title, length: 20)%> </h1>
  <h6>作者: <%= @story.try(:author)%></h6>
  <% if @story.tags %>
    <h5><% @story.tags.each do|t| %> 
      <i class="fa fa-tag " aria-hidden="true"><%= t.name %></i>
       <%end%>  
        &nbsp;<i class="fa fa-map-marker" aria-hidden="true"><%= @story.try(:location)%></i>  &nbsp;<i class="fa fa-clock-o" aria-hidden="true"><%= time_ago_in_words(@story.story_time)%></i>
    </h5>
  <% end %>
  <div class="container text-center">
    <%= social_share_button_tag(@story.title) %>
  </div>
  <% if current_user.present? %>
    <% if @story.already_liked(current_user) %>   
      <%= button_to  unlike_story_path(@story), {:remote => true} do %>
          <i class="fa fa-heart" aria-hidden="true"><%= @story.like_count %></i>
      <%end %>
    <%else%>      
      <%= button_to like_story_path(@story) , {:remote => true} do%>
        <i class="fa fa-heart-o fa-2x" aria-hidden="true"><%= @story.like_count %>
        </i>
      <%end%>
    <% end %>
  <% else %>
    <i class="fa fa-heart-o fa-2x" aria-hidden="true"><%= @story.like_count %> <small>登入按讚</small>
    </i>
  <% end %>
  <hr class="short">
</div>

<% if @photos.present? %>
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @photos.each_with_index do |outing, i| %>
        <li data-target="#mycarousel" data-slide-to=#{i} class="#{'active' if i == 0}"></li>
      <% end %>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= link_to image_tag(@photos.first.image.url(:medium),class:"story")%>
      </div>
      <% if @photos_count >= 1 %>       
        <% @story.photofiles.drop(1).each do |p| %>
          <div class="item">
            <%= link_to image_tag(p.image.url(:medium),class:"story")%>
          </div>
        <% end %>
      <% end %>      
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
     
    </a>
  </div>
</div>
</div>
<% else %>
  <div class="container text-center">
  <iframe id="ytplayer" type="text/html" width="100%" height="600" src= "<%= @link %>" frameborder="0"></iframe>
  </div>
<% end %>
<div class="container">
  <h5>內容</h5>
  <p><%= sanitize(@story.content) %></p>
  <p><%= sanitize(@story.try(:reflection)) %></p>
</div>

<div class="container text-center">
  <a href="#" class="btn-default">我要提出專案</a>
</div>


<style>
  .carousel {
    width: 100%;
    height: 350px;
  }
  .carousel-inner {
    width: 100%;
    height: 350px;
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 550px;
    line-height: 1;
}

</style>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '360',
      width: '640',
      videoId: 'M7lc1UVf-VE'
    });
  }
</script>
