<% if @donation.errors.present?%>
  <ul>
        <% @donation.errors.each do |error, message|%>
          <li> <%= "#{error.capitalize}  #{message}" %></li>
        <% end %>
  </ul>
<% end%>

<%= form_for ([@project, @project.donations.build] ) do |f| %>  
	<%= f.label :name,"捐款姓名:" %>
	<%= f.text_field :name %>
	<%= f.label :amount,"金額:" %>
	<%= f.text_field :amount %>

	
	<%= f.submit "送出" ,class:"btn-default"%> 

<% end %> 