<div class="container">
	<h1 class="text-center">專案後台</h1>
</div>


<div class="container text-center">
	<%= link_to "新增產品", new_admin_project_path,class:"btn btn-default" %>
</div>

<div class="container">
	<% @projects.each do |p| %>
	<div class="col-md-6 text-center">
		<table class="table table-bordered">
			<tr>
				<td>
					專案名稱:<%= p.name %>
				</td>
			</tr>
			<tr>
				<td>
					是否公開:<%= p.is_public %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "查看", admin_project_path(p) %>
				</td>
			</tr>
			<tr>
				<td>
				  <%= link_to "成果報告", admin_project_report_path(p),class:"btn btn-default" %>
				</td>
			</tr>

		</table>
	</div>
	<% end %>

</div>