<div class="container">
	<h1 class="text-center">所有專案</h1>
</div>


<div class="container text-center">
	<%= link_to "新增專案", new_admin_project_path,class:"btn btn-default" %>
</div>

<div class="container">
	<% @projects.each do |p| %>
	<div class="col-md-6 text-center">
		<table class="table table-bordered">
			<tr>
				<td>
					專案名稱:<%= p.name %>
				</td>
			</tr>
			<tr>
				<td>
					是否公開:<%= p.is_public %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Detail", admin_project_path(p) %>
				</td>
			</tr>
			<tr>
				<td>
				  <% if p.report %>
            <%= link_to "查看成效報告", admin_project_report_path(p),class:"btn-default"%>
			    <% else %>
			      <%= link_to "新增成效報告", new_admin_project_report_path(p) ,class:"btn-default"%>
			    <% end %>
				</td>
			</tr>

		</table>
	</div>
	<% end %>

</div>

