<section>
	<div class="container">
	  <h1>專案詳細資訊</h1>
	  <div class="row">
	    <div class="col-sm-12">
	      <h2>專案照片</h2>
	      <% @project.photos.each do|p| %>
	        <%= image_tag(p.image.url(:medium))  %>
        <% end %>
	      <h2>專案其他資訊</h2>
	      <ul>
	        <li>故事標題 : <%= @project.story_title %></li>
	        <li>名稱：<%= @project.name %></li>
					<li>內容: <%= sanitize(@project.content) %></li>
					<li>到期日: <%= @project.due_date %></li>
					<li>募資總金額: <%= @project.total_amount %></li>
					<li>已募得金額: <%= @project.donation_amount %></li>
          </ul>
	    </div>     
	  </div>
	  <%= link_to "刪除", admin_project_path(@project) ,method: :delete, data:{ confirm: "Are you sure?"} ,class:"btn btn-default"%>
    <%= link_to "編輯", edit_admin_project_path(@project) ,class:"btn btn-default"%>
    <%= link_to "查看募資細節",admin_project_donation_index_url(@project),class:"btn btn-default" %>

    <% if @project.report %>
      <%= link_to "查看成效報告", admin_project_report_path(@project),class:"btn btn-default"%>
    <% else %>
       <%= link_to "新增成效報告", new_admin_project_report_path(@project) ,class:"btn btn-default"%>
    <% end %>	
    <%= link_to "返回專案列表", admin_projects_path ,class:"btn btn-default"%>    
	</div>
</section>