<div class="contaienr text-center">
	<%= image_tag "donation.png" %>
	<h1>募資專案</h1>
	<p>每個人的一點心力就能匯聚成眾大的公益力量，和我們ㄧ起行動!</p> 
	
</div>

<div class="container text-center">
<div class="container">
<row>
<% @projects.each do |p| %>
	<div class="col-md-6  table-bordered">
	<div class="col-md-12 text-center thead-inverse ">
		<h3 ><%=truncate(p.name, length: 20)%></strong></h3>	<hr>
	</div>
	<div class="col-md-12" >
		<%= link_to image_tag(p.photos.first.image.url,class:"top ")  %>
	</div>					
	<div class="col-md-12 text-center">
		<% @people = p.donations.count %>	
		<i class="fa fa-users" aria-hidden="true">目前參與人數: <%= @people %></i>
		<br><br>
		<i class="fa fa-spinner" aria-hidden="true">目前進度：</i> 
			<% @progress = p.progress.round(0) %> <br><br>

		<div class="progress">
	  	<div class="progress-bar pb" role="gressbar" style="width: <%= @progress %>%" aria-valuenow="<% @progress %>" aria-valuemin="0" aria-valuemax="100"><%= @progress %> %</div>
	  </div>
		
		<%= link_to "查看", project_path(p),class:"btn-2nd" %>	<br><br>	
	</div>
	</div>

	<% end %>			
</row>
</div>
</div>
<style>
	.container{
		margin-top: 20px;
	}
	.top{
		height: 250px;
	}
</style>

<script>
	$('.pb').css({
    'background-image': 'none',
    'background-color': '#fa7f7f'
});
</script>