<div class="container text-center">
	<h3><%= @project.name %></h3>  
	(剩餘天數: <%= @days %> )
</div>
<div class="container">
	<div class="col-md-6 text-center " style ="margin-left: -20px; margin-right: 20px;">
		<% if @photos.present? %>
			<div class="container ">
			  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 50%; ">
			    <!-- Indicators -->
			    <ol class="carousel-indicators">
			      <% @photos.each_with_index do |outing, i| %>
			        <li data-target="#mycarousel" data-slide-to=#{i} class="#{'active' if i == 0}"></li>
			      <% end %>
			    </ol>
			    <!-- Wrapper for slides -->
			    <div class="carousel-inner">
			      <div class="item active">
			        <%= link_to image_tag(@photos.first.image.url(:thumb))%>
			      </div>
			      <% if @photos_count > 1 %>       
			        <% @photos.drop(1).each do |p| %>
			          <div class="item">
			            <%= link_to image_tag(p.image.url(:thumb))%>
			          </div>
			        <% end %>
			      <% end %>      
			    </div>
			  	<!-- Left and right controls -->
			    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
			      <span class="glyphicon glyphicon-chevron-left"></span>
			    </a>
			    <a class="right carousel-control" href="#myCarousel" data-slide="next">
			      <span class="glyphicon glyphicon-chevron-right"></span>    
			    </a>
			  </div>
			</div>
		<% end %>
	</div>
	<div class="col-md-6 text-center" style="margin-left: 20px; margin-right: -20px;">
		<p class="strong"><i class="fa fa-calendar" aria-hidden="true"></i>   募資截止日:  <%= @project.due_date%></p>  <br>
	

		<p class="strong"><i class="fa fa-usd " aria-hidden="true"></i>   目標:  NT$<%= @project.total_amount %> </p><br>
		
		<p class="strong"><i class="fa fa-usd " aria-hidden="true"></i>   目前金額:  NT$<%= @project.donation_amount %></p> <br>
		
		<p class="strong"><i class="fa fa-spinner " aria-hidden="true"></i>目前進度: </p>
		<div class="col-md-12 float-right">
		<div class="progress">
	  	<div class="progress-bar pb" role="progressbar" style="width: <%= @progress %>%" aria-valuenow="<% @progress %>" aria-valuemin="0" aria-valuemax="100"><%= @progress %>%</div>
	  </div>
	  </div>

		<% if @project.done == true ||  DateTime.now > @project.due_date  %>
			<%= link_to '已結束募資，回到專案頁面', projects_path ,class:"btn-2nd"%>		
		<% else %>
			<%= link_to '贊助支持', new_project_donation_path(@project),class:"btn-2nd" %>
		<% end %>

	</div>
</div>


<div class=" container text-center project">
	<h3> 專案內容: </h3>
	<p><%= sanitize(@project.content) %></p>
</div>

<div class="container text-center">
	<h4><i class="fa fa-asterisk" aria-hidden="true">故事標題：</i><%= @project.story_title %> </h4>
	<p><%= sanitize(@project.story_content) %></p> 
	
</div>

<div class="container text-center">
	<%= link_to "提出新計劃" , new_account_story_path,class:"btn-2nd"%>
</div>

<style>
  .carousel {
    width: 100%;
    height: 350px;
  }
  .carousel-inner {
    width: 100%;
    height: 350px;
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 350px;
    line-height: 1;
   }

	.project {
		min-height: 300px;
	}

	.strong{
		font-size: 26px;
	}


</style>
	

<script>
	$('.pb').css({
    'background-image': 'none',
    'background-color': '#fa7f7f'
});
</script>


