<h1>專案詳細資訊</h1>
	
<div class="container">
	專案名稱:<%= @project.name %> <br>	
	專案內容:<%= @project.content %><br>

</div>
<div class="container">
<% if @project.donation_unit_count == @project.unit ||  DateTime.now >@project.due_date  %>
	<%= link_to '已結束募資，回到產品頁面', projects_path ,class:"btn btn-default"%>
	
<% else %>
	<%= link_to '捐贈', new_project_donation_path(@project),class:"btn btn-default" %>
	<%= link_to '回到產品頁面', projects_path ,class:"btn btn-default"%>
<% end %>

</div>




