<div class="container text-center">
	<%= link_to "回上ㄧ頁", admin_project_path(@project) ,class:"btn btn-default"%> <br>
	<% @donations.each do |d| %>
	 <div class="col-md-12">
	 <table class="table table-bordered text-center">
	 	<th>
	 		<%= d.id %>
	 	</th>
	 	<tr>
	 		<td>購買時間:<%= d.created_at %></td>
	 	</tr>
	 	<tr>
	 		<td>購買單位:<%= d.unit %></td>
	 	</tr>
	
	 	<tr>
	 		<td>付款狀態:<%= d.payment_status %></td>
	 	</tr>
	</table>
	 </div>
	<% end %>


</div>

