<div class="container text-center">
	<h1>Profile</h1>
	<hr>

</div>
<div class="container text-center">
  <h4><%= @user.name%>的捐贈記錄</h4>
</div>

<div class="container">
	<% @donations.each do |donation| %>
		<div class="col-md-4 text-center">
			<table class="table table-bordered">		
				<tr>
					<th class="table-info text-center">
					  捐贈的專案: <%= donation.project.name%>	
					</th>
				</tr> 
				<tr>
				  <td>
					  捐贈金額：<%= donation.amount %>
				  </td>
				</tr>
				<tr>
				  <td>
					  付款狀態：<%= donation.payment_status %>
				  </td>
				</tr>
				<tr>
				  <td>
					  付款方式：<%= donation.payment_method %>
				  </td>
				</tr>
				<tr>
				  <td>
					  <%= link_to "專案詳細資訊",project_path(donation.project)%>
				  </td>
				</tr>
		
			</table>
		</div>
	<% end %>
</div>