<div class="container text-center">
	<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><% if @donation.paid? %>
	 <h3>謝謝您，贊助資訊如下：</h3> <br>
		<% else %>
		<h3>尚未付款，請至該專案贊助</h3>
	 <% end %>
</div>
<div class="container donations text-center">
		<div class="container table-bordered">
			<br>
			<p><i class="fa fa-user-circle-o" aria-hidden="true"> 贊助姓名：</p></i> <%= @donation.name %> <br><br>
			<p><i class="fa fa-usd" aria-hidden="true" >贊助金額:</p></i>NT$<%= @donation.amount %> <br><br>
			<p><i class="fa fa-money" aria-hidden="true">贊助狀態：</p></i><%= @donation.payment_status %><br><br>
	
		<% unless @donation.paid? || %>
			<p><i class="fa fa-gift" aria-hidden="true">	付款方式:</p></i>
			<% Payment::PAYMENT_METHODS.each do |pm| %>
				<%= link_to t(pm, :scope => "PaymentPay2go"), checkout_pay2go_project_donation_path(@donation, :payment_method => pm), :class => "btn btn-default", :method => :post %>
				<% end %>
			<br><br>
		<% end %>
		<% if @donation.payments.count > 0 %>
	<div class="container text-center">
			<% @donation.payments.each do |p| %>
				<p><i class="fa fa-info-circle" aria-hidden="true">
					<% if p.paid_at %>
						付款成功，在<%=time_ago_in_words(p.created_at) %> 前</p></i>
					<% else %>
						付款失敗，請再次捐款，在 <%=time_ago_in_words(p.created_at) %> 前</p></i>
					<% end %>					
			<% end %>
	</div>
<% end %>
	
	</div>
</div>

