<div>
	<%= image_tag "bgc.png" ,class:"resize"%>
</div>

<div class="container">
	<h1>台灣眉角故事</h1>
</div>




<div class="container">
	<p><i>依分類搜尋:</i>&nbsp;&nbsp;&nbsp;

	<% Tag.all.each do |t| %>

		<i class="fa fa-tag " aria-hidden="true"><%= link_to t.name, tag_path(t.id)%>&nbsp;&nbsp;</i>
						
	<% end %>

	</i></p>
</div>
<div class="container">
	<% @stories.each do |s| %>
		<div class="col-md-3 text-center">
			<table class="table table-bordered">
				<tr><th>故事標題:<%= s.title %></th></tr> 
				<tr><td>時間: <%= s.story_time %></td></tr>
				<tr><td>地點: <%= s.location %></td></tr>
				<tr><td><%= link_to "更多", story_path(s) %></td></tr>
				<tr>
					<td>
						<% if current_user.present? %>
				      <% if s.already_liked(current_user) %>      
				        <%= button_to  unlike_story_path(s) , {:remote => true} do %>
				        		<i class="fa fa-heart fa-2x" aria-hidden="true"><%= s.like_count %></i>
								<%end %>
				      <%else%>      
				        <%= button_to like_story_path(s) , {:remote => true} do%>
				        	<i class="fa fa-heart-o fa-2x" aria-hidden="true"><%= s.like_count %>
				        	</i>
				        <%end%>
				      <% end %>
				   <% else %>
							<i class="fa fa-heart-o fa-2x" aria-hidden="true"><%= s.like_count %> <small>登入按讚</small></i>
  				<% end %>
    			</td>
				</tr>
			</table>
		</div>
	<% end %>
</div>

<style>
	.resize{
		box-sizing: border-box;
		margin:0px;
		padding: 0px;
		width:100%;
		height: auto;
	}
	
</style>
