<div class="container text-center">
	<h1><i class="fa fa-tag " aria-hidden="true"><%= @tag.name %></i></h1>
</div>
<div class="container">
		<% Tag.all.each do |t| %>
		   	<i class="fa fa-tag " aria-hidden="true"><%= link_to t.name, tag_path(t.id)%>&nbsp;&nbsp;</i>					
		<% end %>
		<i class="fa fa-tag " aria-hidden="true"><%= link_to "所有", stories_path %></i>
</div>
<div class="container">
	<% @stories.each do |s| %>
		<div class="col-md-3 text-center">
			<table class="table table-bordered">
				<tr><th>故事標題:<%= s.title %></th></tr> 
				<tr><td>時間: <%= s.story_time %></td></tr>
				<tr><td>地點: <%= s.location %></td></tr>
				<tr><td><%= link_to "更多", story_path(s) %></td></tr>
			</table>
		</div>
	<% end %>
</div>
	