<% if @product.errors.present?%>
  <ul>
        <% @product.errors.each do |error, message|%>
          <li> <%= "#{error.capitalize}  #{message}" %></li>
        <% end %>
  </ul>
<% end%>


<div class="container">

<%= form_for ([:admin, @product])  do |f| %>
	<div class="form_group">
		<%= f.label :name, "產品名稱:" %><br>
		<%= f.text_field :name %><br>
	</div>
	<div class="form_group">
		<%= f.label :description, "產品簡述:" %><br>
		<%= f.text_field :description %><br>
	</div>
	
	<div class="form_group">
		<ol>
			<%= f.fields_for :photos do |p|  %>

				<li><%= p.label :image , "產品照片 :" %>
				<%= p.file_field :image %></li>

			<% end %>
		</ol>
	</div>
	<div class="form_group">
		<%= f.label :npo_id,"要捐贈的NPO:"%><br>
      <% Npo.all.each do |s| %>
      <%= f.radio_button :npo_id,s.id%><%= s.name%>
    <%end%><br>
	</div>
	<div class="form_group">
		<%= f.label :due_date, "到期日:" %><br>
		<%= f.text_field :due_date %><br>
	</div>


	<div class="form_group">
		<%= f.label :cost, "成本總金額:" %><br>
		<%= f.text_field :cost %><br><br>
	</div>
	<div class="form_group">
		<%= f.label :cost_detail, "成本細節說明:" %><br>
		<%= f.text_field :cost_detail %><br>
	</div>
	<div class="form_group">
		<%= f.label :unit, "單位數:" %><br>
		<%= f.text_field :unit %><br>
	</div>
	<div class="form_group">
		<%= f.label :unit_price, "單位價格:" %><br>
		<%= f.text_field :unit_price %><br>
	</div>
	<div class="form_group">
		<%= f.radio_button :is_public,true,:value => true %>
		<%= f.label :is_public, "公布"%>
		<%= f.radio_button :is_public,false,:value => false %>		
		<%= f.label :is_public, "尚未公布"%>
	</div>
	

	<% if @product.donation_unit_count == @product.unit  %>  
		<h2>確定募資成功後</h2>
		<div class="form_group">
			<%= f.label :donation_file, "捐款證明:" %><br>
			<%= f.text_field :donation_file %>
		</div>
	<% end %>
	<%= f.submit class:"btn btn-default" %>

	
<% end %>
</div>