<h1>產品後台首頁</h1>



<div class="containere">
	<%= link_to "新增產品", new_admin_product_path(@product),class:"btn btn-default" %>
	<%= link_to "查看Npo",admin_npos_url,class:"btn btn-default" %>
	<%= link_to "查看User",admin_users_url,class:"btn btn-default" %>
</div>

<div class="container">
	<% @products.each do |p| %>
	<div class="col-md-6 text-center">
		<table class="table table-bordered">
			<tr>
				<td>
					產品名稱<%= p.name %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "show", admin_product_path(p) %>
				</td>
			</tr>

		</table>
	</div>
	<% end %>

</div>