<h1>產品後台詳細資訊</h1>

<%= @product.name %>
<%= @product.rule %>
<%= @product.description %>
<%= @product.min_amount %>
<%= @product.cost%>
<%= @product.cost_detail %>

<%= @product.npo.name %>

<% @product.photos.each do|p| %>

	<%= link_to image_tag(p.image.url(:medium))  %>

<% end %>




<% if @product.lucky_number%>
	<%= @product.lucky_number %>
<% end %>

<% if @product.lucky_person %>
	<%= @product.lucky_person %>
<% end %>

<% if @product.donation_file %>
	<%= @product.donation_file %>
<% end %>

<%= link_to "刪除", admin_product_path(@product) ,method: :delete, data:{ confirm: "Are you sure?"} %>

<%= link_to "回上ㄧ頁", admin_products_path %>
