<div class="container ">
<h1>產品後台詳細資訊</h1>

產品名稱：<%= @product.name %> <br>
中獎規則: <%= @product.rule %><br>
產品描述: <%= @product.description %><br>
產品到期日: <%= @product.due_date %><br>
產品單位數: <%= @product.unit %><br>
產品單位價格: <%= @product.unit_price %><br>
產品成本: <%= @product.cost%><br>
產品成本細節:<%= @product.cost_detail %><br>

捐贈單位:<%= @product.npo.name %><br>

<% @product.photos.each do|p| %>

	<%= link_to image_tag(p.image.url(:medium))  %><br>

<% end %>



<% if @product.lucky_number%>
	<p>中獎號碼:<%= @product.lucky_number %></p> 
<% end %>

<% if @product.lucky_person %>
	<p>中獎人: <%= @product.lucky_person %></p> 
<% end %>

<% if @product.donation_file %>
	<p>中獎證明: <%= @product.donation_file %></p> 
<% end %>

<%= link_to "刪除", admin_product_path(@product) ,method: :delete, data:{ confirm: "Are you sure?"} ,class:"btn btn-default"%>
<%= link_to "編輯", edit_admin_product_path(@product) ,class:"btn btn-default"%>
<%= link_to "查看已產生的donations",admin_product_donation_index_url(@product),class:"btn btn-default" %>
<%= link_to "回上ㄧ頁", admin_products_path ,class:"btn btn-default"%>
</div>