<div class="container">
	<h2> 更新用戶資料</h2>
	<%= form_for([:admin, @user])do |f| %> 
    <div class="form_group">
	  	<%= f.label :id, "ID:"  %>
		  <%= f.text_field :id,:value => @user.id,:readonly => true%>
    </div>
    <div class="form_group">
		  <%= f.label :name, "nickname:" %>
		  <%= f.text_field :name,:value => @user.name,:readonly => true%>
		</div>
		<div class="form_group">
		  <%= f.label :role, "role:" %><br>
		
		  <%= f.radio_button :role,"user",:value => "user"%>
		  <%= f.label :role, "user",:value => "user"%>

		  <%= f.radio_button :role,"admin",:value => "admin"%>
		  <%= f.label :role, "admin",:value => "admin"%><br>
		</div>

    <div class="form_group">
		  <%= f.label :email, "email:" %><br>
		  <%= f.text_field :email,:value => @user.email %><br>
    </div>
 
		<%= f.submit "儲存" ,class:"btn btn-default"%>

	<% end %>
