
<div class="container">
  <h2>使用者詳細資訊</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>role</th>
        <th>email</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @user.id %>
        </td>
        <td>
          <%= @user.name %>
        </td>
        <td>
          <%= @user.role %>
        </td>
        <td>
          <%= @user.email %>
        </td>
        <td>
          <%= @user.created_at %>
        </td>
        <td>
          <%= @user.updated_at %>
        </td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-default" >
    <%= link_to "返回所有用戶資訊", admin_users_path%>	
  </button>
  <button type="button" class="btn btn-default" >
  <%= link_to '編輯', edit_admin_user_path(@user) %>
  </button>

</div>

