<%= form_for([:admin, @npo]) do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="form-group">
		<%= f.label :code %>
		<%= f.text_field :code %>
	</div>
	<div class="form-group">
		<%= f.label :philosophy %>
		<%= f.text_field :philosophy %>
	</div>
	<%= f.submit class:"btn btn-default" %>
<% end %>