<!DOCTYPE html>
<html>
  <head>
    <title>LuckyBuy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="login"> 哈囉! 
      <% if current_user %> 
       	<%= current_user.name %>
        <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
        <%= link_to('更改資料', edit_registration_path(:user)) %>
	    <% else %>
	      <%= link_to('註冊', new_registration_path(:user)) %> |
	      <%= link_to('登入', new_session_path(:user)) %>
	    <% end %>
    </p>
    <%= yield %>
  </body>
</html>