<!DOCTYPE html>
<html>
  <head>
    <title>後台</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %> 
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li> <%= link_to '後台首頁', home_admin_stories_path%></li>
          <li> <%= link_to '用戶頁面', admin_users_path %></li>
          <li> <%= link_to '標籤頁面', admin_tags_path %></li>         
          <li> <%= link_to '故事頁面', admin_stories_path %></li>
          <li><%= link_to '專案頁面', admin_projects_path %></li>
          <li><%#= link_to '報告頁面', admin_project_report_path %></li>
          <li><%= link_to '回前台', root_path %></li>
           
        </ul>
      </div>
    </div>

      </nav>
    <%= yield %>
  </body>
</html>

<script>
 var editor = new MediumEditor('.editable', {
    toolbar: {
        allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'h4','orderedlist','unorderedlist'],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        relativeContainer: null,
        standardizeSelectionStart: false,
        static: true,
        align: 'center',
        sticky: false,
        updateOnEmptySelection: false
    },
    placeholder: {
        /* This example includes the default options for placeholder,
           if nothing is passed this is what it used */
        text: '輸入內容，選取文字範圍即可編輯',
        hideOnClick: true
    }
   
});

</script>

