<!DOCTYPE html>
<html>
  <head>
    <title>LuckyBuy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      window.fbAsyncInit = function() {
      FB.init({
        appId      : '481652665500095',
        xfbml      : true,
        version    : 'v2.9'
        });
      FB.AppEvents.logPageView();
      };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>

  <body>
  	<p class="login"> 哈囉! 
      <% if current_user %> 
       	<%= current_user.name %>
        <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
        <%= link_to('更改資料', edit_registration_path(:user)) %>
	    <% else %>
	      <%= link_to('註冊', new_registration_path(:user)) %>
	      <%= link_to('登入', new_session_path(:user)) %>
        <%= link_to "登入 Facebook", user_facebook_omniauth_authorize_path %>
	    <% end %>
    </p>
    <%= yield %>
  </body>
</html>
